[submodule "gym-roboy"]
	path = gym-roboy
	url = https://github.com/Roboy/gym-roboy.git
	branch = master
[submodule "deep_roboy_contol"]
	path = deep_roboy_control
	url = https://github.com/Roboy/deep_roboy_contol.git
[submodule "ROS1_ROBOY_WS/src/CARDSflow"]
	path = ROS1_ROBOY_WS/src/CARDSflow
	url = https://github.com/CARDSflow/CARDSflow.git
[submodule "ROS2_ROBOY_WS/src/roboy_communication"]
	path = ROS2_ROBOY_WS/src/roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
